@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* background from https://www.magicpattern.design/tools/css-backgrounds
scrollbar from https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: green; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #e5e5f7;
  background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(green 2px, transparent 2px) 0 -1px, linear-gradient(90deg, green 2px, #ffffff 2px) -1px 0;
  background-size: 100px 100px, 50px 50px, 25px 25px, 25px 25px;
}

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  color: #444;
}

.main-header {
  background-color: green;
  color: white;
}

.main-footer {
  border-top: 2px solid green;
}

input {
  width: 80px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 25px;
  text-align: center;
  background-color: green;
  color: white;
  transition: 0.3s;
}

input::placeholder {
  color: white;
}

input:invalid {
  background-color: red;
}

input:focus {
  background-color: white;
  color: #444;
  box-shadow: inset 0px 0px 0px 2px green;
}

table {
  table-layout: fixed ;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  width: 500px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th,
td {
  padding: 12px 15px;

}

tr {
  text-align: center;
}

.content {
  border-bottom: 2px solid green;
}

.righty {
  text-align: right;
}

#totalChange {
  font-size: 1.3em;
}