@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  color: #444;
}

.main-header {
  background-color: green;
  color: white;
}

.main-footer {
  border-top: 2px solid green;
}

input {
  width: 80px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 25px;
  text-align: center;
  background-color: green;
  color: white;
  transition: 0.3s;
}

input::placeholder {
  color: white;
}

input:invalid {
  background-color: red;
}

input:focus {
  background-color: white;
  color: #444;
  box-shadow: inset 0px 0px 0px 2px green;
}

table {
  table-layout: fixed ;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  width: 500px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th,
td {
  padding: 12px 15px;

}

tr {
  text-align: center;
}

.content {
  border-bottom: 2px solid green;
}

.righty {
  text-align: right;
}

#totalChange {
  font-size: 1.3em;
}